.hidden {
    display: none;
}

.inputrow {
    display: flex;
    flex-direction: row;
}

.inputrowlabel-m {
    flex: 0 1 300px;
}

.inputrow-input-m {
    flex: 0 0 180px;
}

.inputrow-input-l {
    flex: 0 1 300px;
}


.rowequal {
    display: flex;
}

.rowequal > * {
    flex: 1;
    /* width: 100%; */
    /* flex-grow: 1; */
}

.mybutton{
    margin: 3px 3px 3px 3px
}